
HF_TOKEN=enter_your_hf_token


# RAG Configuration
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-4B
SIMILARITY_THRESHOLD=0.6
RETRIEVAL_K=1

# PDF Knowledge Base
KNOWLEDGE_BASE_DIR=knowledge_base
CHROMA_STORE_PATH=chroma_store
MODEL=Qwen/Qwen3-8B